
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.main-box {
    height: 300px;
    width: 150px;
    background-color: rgb(53, 49, 49);
    box-shadow: 0px 0px 5px black, inset 0px 0px 10px black;
    margin: auto
}

.pole{
    height: 150px;
    width: 30px;
    background-color: rgb(53, 49, 49);
    box-shadow: 0px 0px 5px black, inset 0px 0px 10px black;
}

.light {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.iluminado {
    outline:none;
    border-color:#ede89e;
    box-shadow:0px 0px 15px 10px rgba(253, 253, 222, 0.623), inset 3px 3px 10px black;;
}
